div {
    
}

html, body{
margin: 0;
padding: 0;
background-color: #ccdcf8;
}
.card{
    width: 264px;
    height: 475px;
    background-color: #ffffff;
    margin: 45px 55px;
    border-radius: 9px;

}
.img-card{
    width: 264px;
    height: 200px;
    color: #000000;
    margin-top: 25px;
}
.descricao{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 5px;
    margin-bottom: 50px;
    color: #000000;
    height: 70px;
}
.preco{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #42273e;
    padding: 10px 5px;
}
.pagamento{
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 5px;
}
.botao-card{
    background-color: #b93952;
    color: #ececec;
    font-weight: bold;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    border-radius: 9px;
}
.menu{
    background-color: #4e4ed6;
    color: #5557e9;
    border: 1px solid;
    display:flex;
}
.item-menu{
    list-style: none;
    padding: 10px 20px;
    width: 500px;
    text-align:center;
    font-size: 25px;
    color: #000000;
}
.item-menu:hover{
    background-color: #a9aff5;
}
.link-menu{
    text-decoration: none;
    color: #070808c9;
    font-weight: bold;
    font-size: 23px;
}
.botao-card:hover{
    background-color: rgb(238, 132, 141);
    color: #ffffff;
}
.container-card{
    display: flex;
    flex-wrap: wrap;
    border-radius: 18px;
}
.titulo{
    background-color: #ccdcf8;
    text-align:center;
    color: #000000;
}
.whey{
    color: #f1f1f1;
    font-size: 20px;
    text-align: center;
}